# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
*.venv

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Misc
.DS_Store
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
